body { background:var(--background);  }
#ronin #wrapper { background: var(--background); }
#ronin #wrapper #commander { background:var(--background);border-right-color: var(--f_low)  }
#ronin #wrapper #commander textarea { color:var(--f_high); }
#ronin #wrapper #commander div#status { color:var(--f_med); }