body { margin:0px; padding:0px; overflow:hidden; font-family:"input_mono_medium",courier,monospace;}
*:focus {outline: none; }

yu { display:block; }

#ronin { background:#444; height: 100vh; width:100vw; }
#commander { position: fixed; bottom:0px; left:0px; width:100vw; height:30px; line-height: 30px;  -webkit-user-select: none;-webkit-app-region: drag; }
#commander input { background: transparent;width: calc(100vw - 30px);padding: 0px 15px;display: block;line-height: 30px;font-size: 11px;color: white; margin-left:30px; }
